/venv/
/venv2/
/data/
/.idea/
*.pyc
/experiments_analysis/experiments_march_2024/IPDD_controlflow_adaptive_trace/plots/
/experiments_analysis/experiments_march_2024/IPDD_controlflow_adaptive_windowing/plots/
/experiments_analysis/experiments_march_2024/comparative_analysis_trace/
/experiments_analysis/experiments_march_2024/new_comparative_analysis_trace/
